/* MatchingQuiz.css */
.draggable {
    padding: 8px;
    margin: 8px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .draggable:hover {
    background-color: #f4f4f4;
  }
  